/* src/index.css */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cb-color-surface-bg);
    width: 100vh;
    height: 100vh;
}

ul {
    list-style: none;
}

h1 {
    color: var(--cb-color-text-primary);
}